<a href="https://colab.research.google.com/github/acamus79/FESAT_Analisis_y_Gestion_de_Datos/blob/main/Clases02Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Práctica
1- Primero, importamos las librerías necesarias y los comandos que son necesarios ejecutar una única vez.
2- Generar un dataframe
3- Creamos nuestro propio dataset. Es decir, agarrar a mano los datos poblacionales de http://www.ign.gob.ar/nuestrasactividades/geografia/datosargentina/divisionpolitica y guardarlos en una variable "data_dic".¿Qué tipo de variable es?
** nota: la población está en número de habitantes y la superficie en km2.
4- Qué tipo de variable es "data_dic"?
5- Investigar las funciones que se implementan en la próxima celda. ¿Qué hacen? ¿Para qué piensan que pueden ser útiles?
#data_pandas.head()
#data_pandas.tail()
#data_pandas.count()
#data_pandas.shape 

6- Aplicar cada una de las funciones del punto 5 al DF.

In [ ]:
import pandas as pd
from  IPython.display import display #Es el "print" de los DataFrames. No es necesario importarlo, pero está bueno.

In [ ]:
dic1 = {"Jurisdiccion":["Entre Ríos","Formosa","La Pampa","La Rioja","Neuquen","Salta","San Juan","San Luis","Santiago del Estero","Río Negro","Santa Cruz",
                           "Santa Fe","Tierra del Fuego, Antártida e Islas del Atlántico Sur","Tucumán"],"Poblacion":[1235994,530162,318951,333642,551266,1214441,681055,432310,
                                                   874006,638645,273964,3194537,127205,1448188],"Superficie":
           [78781,72066,143440,89680,94078,89651,76748,136351,1002445,22524,133007,243943,78781,165321]}
df = pd.DataFrame(dic1)
df

                                         Jurisdiccion  Poblacion  Superficie
0                                          Entre Ríos    1235994       78781
1                                             Formosa     530162       72066
2                                            La Pampa     318951      143440
3                                            La Rioja     333642       89680
4                                             Neuquen     551266       94078
5                                               Salta    1214441       89651
6                                            San Juan     681055       76748
7                                            San Luis     432310      136351
8                                 Santiago del Estero     874006     1002445
9                                           Río Negro     638645       22524
10                                         Santa Cruz     273964      133007
11                                           Santa Fe    3194537      243943
12  Tierra del Fuego, Antártida e Islas del Atlánt...     127205       78781
13                                            Tucumán    1448188      165321

In [ ]:
display(df)

                                         Jurisdiccion  Poblacion  Superficie
0                                          Entre Ríos    1235994       78781
1                                             Formosa     530162       72066
2                                            La Pampa     318951      143440
3                                            La Rioja     333642       89680
4                                             Neuquen     551266       94078
5                                               Salta    1214441       89651
6                                            San Juan     681055       76748
7                                            San Luis     432310      136351
8                                 Santiago del Estero     874006     1002445
9                                           Río Negro     638645       22524
10                                         Santa Cruz     273964      133007
11                                           Santa Fe    3194537      243943
12  Tierra del Fuego, Antártida e Islas del Atlánt...     127205       78781
13                                            Tucumán    1448188      165321